Package: com.joshua.volumeflex
Name: VolumeFLEX
Version: 0.0.4-2
Architecture: iphoneos-arm
Description: The world dosen't need another FLEX loader but people with fat fingers do.
Maintainer: Joshua Wheeler
Author: Joshua Wheeler
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), libvolumeflex
